@page
@using GetandTake.ViewComponents
@model GetandTake.Pages.Products.ProductModel
@section Title
{
    <h5 class="title">Products</h5>
}

<div class="col-md-3">
    @await  Component.InvokeAsync("Product")
</div>