@page
@using GetandTake.ViewComponents
@model GetandTake.Pages.Categories.CategoryModel

@section Title
    {
    <h5 class="title">Categories</h5>
}

<div class="col-md-3">
    @await  Component.InvokeAsync("Category")
</div>