@page
@model GetandTake.Pages.Categories.ImagesModel
@{
    var categories = await categoryService.GetAllAsync();
}
@section Title{
    <h5 class="title">Images</h5>
}
@foreach (var category in categories)
{
    @if (@category.ImagePath != null)
    {
        string imagePath = $"https://localhost:7005/" + @category.ImagePath;
        <img src="@imagePath" class="img-thumbnail" width="220px;" />
    }
}
