@page
@model GetandTake.Pages.Categories.UploadModel
<div>
    <h3>
        Upload Category Image
    </h3>
</div>
<div class="mb-2">
    <form enctype="multipart/form-data" method="post">
        <dl>
            <dt>
                <label asp-for="FileUpload.FormFile"></label>
            </dt>
            <dd>
                <input asp-for="FileUpload.FormFile" type="file">
            </dd>
        </dl>
        <button type="submit" class="btn btn-success">Upload Image</button>
    </form>
</div>