@page
@model GetandTake.Pages.CategoryModel
@{
}

<table class="table">

    <thead>
        <tr>
            <th scope="col">CategoryName</th>
            <th scope="col">Description
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model.Categories)
        {
            <tr>
                <td>@category.CategoryName</td>
                <td>@category.Description</td>
            </tr>

        }
    </tbody>
</table>